<div class="page-header">
  <div class="row">
    <div class="col-md-2">
      <%= image_tag @user.avatar(:small)%>
    </div>
    <div class="col-md-8">
      <div class="jumbotron">
        <h2><%= @truckname %></h2>
      </div>
    </div>
  </div>
</div>
<h3> <b>Owner Name:</b> <%= @ownerfirstname + " " + @ownerlastname %></h3>
<h3> <b>Description:</b> <%= @description %></h3>
<h3> <b>Category:</b> <%= @category %></h3>



<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>